<mat-card>
    <form #tempForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)] = "title"
                         name = "title"
                         required #spy
                         #temp = "ngModel">
        <mat-error color="white" *ngIf="!(temp.valid || temp.pristine)">
            "name of author is required
        </mat-error>                        
      </mat-form-field>
      </div>
      <div >
        <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid">Submit</button>
    </div>
    </form>
    </mat-card>