<mat-card>
    <h2>Add author</h2>
    <form #addForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="author" [(ngModel)] = "title"
                             name = "title"
                             required #spy
                             #temp = "ngModel">
            <mat-error *ngIf="!(temp.valid || temp.pristine)">
                author is required
            </mat-error>                        
          </mat-form-field>
        <div >
            <button mat-raised-button color="primary" [disabled]="!addForm.form.valid">Submit </button>
        </div>
      </div>
    </form>
    </mat-card>