<br>
<div>
  <button mat-raised-button color="primary" (click)="onSubmit()" >Submit</button>
</div>
<br>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      by {{post.body}} 
      <br>
      <div *ngFor = "let user of users$">
        <div *ngIf = "user.id == post.userId;other">Aouthor: {{user.name}}</div> 
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  

