<h2 >List of Authors</h2>
<mat-card>
<mat-selection-list #authors_>
    <mat-list-item *ngFor="let author of authors$ | async">
    <mat-list-option>
        <div *ngIf ="author.id == id, else other">{{title}} </div>
        <ng-template #other> {{author.name}} </ng-template>
      </mat-list-option>
        <button mat-button color="primary" [routerLink]= "'/editauthors/'+ author.id" >Edit</button>
        <button mat-button color="warn" >Delete</button>
        <button mat-button colo="primary" routerLink="/Addauthor">Add Authors</button>        
    </mat-list-item>
  
  </mat-selection-list>
  <p>Options selected: {{authors_.selectedOptions.selected.length}}</p>
</mat-card>